@theme {
  --color-foreground: #000000;
  --color-foreground-light: #636466;

  --color-background: #ffffff;
  --color-background-accent: #f5f5f5;
  --color-background-muted: #f9f9f9;

  --color-accent: #C10E0E;
  --color-aha-red: #c10e21;

  --color-success: #2ec1ac;
  --color-danger: #C10E0E;

  --color-border: #636466;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Montserrat', sans-serif;

  --radius-base: 0rem;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: calc(var(--radius-base) * 0.25);
  --radius-sm: calc(var(--radius-base) * 0.5);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.5);
  --radius-xl: calc(var(--radius-base) * 2);
  --radius-2xl: calc(var(--radius-base) * 3);
  --radius-3xl: calc(var(--radius-base) * 4);
  --radius-4xl: calc(var(--radius-base) * 5);
}
